body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../img/matematica.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 55px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
  }
  
  h1 {
    color: #000000;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #2a2b2c;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
  